

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
    background-color: #80fee3;
    padding: 20px;
    text-align: center;
  }

  .topnav {
    background-color: #6452ea;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #navbar2 {
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #da5aa7;
}

  .column {
    float: left;
    padding: 10px;
  }

  .column.side {
    width: 25%;
  }

  .column.middle {
    width: 50%;

  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }



  img {
    float: right;
     width: 9%;
     margin-right: 20px;     margin-bottom: 10px;
     clear:inline-end;
  }

 p.{
  clear:inline-end;
 }

 .container {
  columns: 3;
}



.footer  {
    background-color: #9980fe;
    clear: both;
    height: 50px;
}

.cuadrato {
  width: 150px;           
  height: 150px;         
  background: rgb(0, 255, 89);       
  border: 1px solid #5eeb46;
  float: right;
}



.cuadrato2 {
  width: 50%;           
  height: 50%;         
  background: rgb(102, 126, 206);     
  padding: 20px;
}

.cuadrado {
  width: 100px;           
  height: 100px;         
  background: rgb(211, 64, 76);     

}



.footer p {
  color: aliceblue;
  text-align: center;
  width:100%;
  position:absolute
  }

